@charset "ISO-8859-1";

.background {
	background-color: #FDDBB4;
}

.circle {
	border-radius: 50%;
}


#logo:hover{
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(0.8);
  transition-duration: 1.3s;
  overflow: hidden;
}

.signin {
	font-size: 1.3rem;
	background-color: #008040;
	color: white;
	padding: 8px;
	width: 140px;
	outline: none;
	border: none;
	border-radius: 30px;
}

.signin:hover {
	background-color: white;
	color: #008040;
	border-radius: 50%;
	font-size: 1.7rem;
}

.text-avatar{
	font-weight: bold;
	text-align: center;
	vertical-align: middle
	
}

.avatar-container{
	background-color: #008040;
	color: #fddbb4;
	border-radius: 50%;
	width: 5vh;
	height: 5vh
	
}

